doctype html
html
    head
        link(rel="stylesheet" href="style.css")
        link(rel="modulepreload" href="geometry.js")
        link(rel="modulepreload" href="bones.js")
        link(rel="modulepreload" href="cloth.js")
        link(rel="modulepreload" href="script.js")
    body
        canvas#canvas
        script(src="script.js" type="module")