#main
  display: flex
  flex-direction: row
  margin-top: 70px
  justify-content: space-between
  align-items: center

  #colors
    .colorpicker
      display: flex
      flex-flow: column wrap
      height: 640px
      justify-content: center
      svg
        width: 80px

  #cells
    width: 53.5%
    margin: 0 auto
    display: flex
    flex-direction: column
    align-items: center
    #buttons
      width: 100%
      display: flex
      flex-direction: row
      justify-content: space-evenly
