doctype html
html
  head
    meta(charset="UTF-8")
    title Sudoku
    link(rel="stylesheet" href="style.css")
    link(href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet")
  body
    h1 Sudoku
    #app
    #info
      h2 Instructions
      ul
        li Interaction with cells is done by clicking on one of the 3x3 subcells each representing a value from 1 to 9:
          ul
            li Long-click on a cell's subcell to place a value in the cell
            li Short-click on a cell's subcell to toggle a pencil annotation
        li The <em>Generate</em> button clears the grid and generates a new proper Sudoku (single solution, all hints required)
        li The <em>Clear</em> button clears the value of all non-locked cells
        li The <em>Lock</em> button locks all cells with a value
        li The <em>Unlock</em> button unlocks all cells
        li The <em>Solve</em> button searches for a solution of the current grid
          ul
            li Cell values cannot be changed while solver is running
            li Solver can be interrupted by clicking on the same button (labeled "Stop" during computation)
            li If a solution is found, values are displayed
            li If no solution exists, the solver ends (button labeled "Solve" again) but cells are not modified

    script(src="https://unpkg.com/react@16/umd/react.development.js" crossorigin)
    script(src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin)
    script(src="app.js")
    script(src="solver.js")
