body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#scene {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 900px;
  perspective: 600px;
  cursor: pointer;
}

.cube {
  width: 300px;
  height: 300px;
  position: relative;
  transform: rotateX(-40deg) rotateY(-30deg);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.face {
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.sticker {
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24pt;
  border: 4px black solid;
  border-radius: 4px;
  transition: transform 0.2s;
}

.face-front {
  background-color: white;
}

.face-back {
  background-color: yellow;
}

.face-left {
  background-color: #ab0004;
}

.face-right {
  background-color: #ff833c;
}

.face-top {
  background-color: #6cff2a;
}

.face-bottom {
  background-color: blue;
}
