* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#scene {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 600px;
  perspective: 900px;
  cursor: pointer;
}
#scene * {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.cube {
  width: 300px;
  height: 300px;
  transform: rotateX(-30deg) rotateY(-40deg);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.cube .face-front {
  --face-color: #ffffff;
}
.cube .face-back {
  --face-color: #ffff00;
}
.cube .face-left {
  --face-color: #ab0004;
}
.cube .face-right {
  --face-color: #ff833c;
}
.cube .face-top {
  --face-color: #6cff2a;
}
.cube .face-bottom {
  --face-color: #0000ff;
}
.cube .rotation-block {
  transform-style: preserve-3d;
  transition: transform 0.3s;
}
.cube .sticker {
  width: 100px;
  height: 100px;
  opacity: 0.9;
  background-color: black;
}
.cube .sticker .color-square {
  width: 90%;
  height: 90%;
  border-radius: 12px;
  background-color: var(--face-color);
}
.cube .sticker .color-square .logo {
  background-image: url(./logo.jpeg);
  background-size: cover;
}
