* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#scene {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 600px;
  perspective: 900px;
  cursor: pointer;
}

.cube {
  width: 300px;
  height: 300px;
  position: relative;
  transform: rotateX(-35deg) rotateY(-45deg) translateX(100px) translateY(60px);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.rotation {
  transform-style: preserve-3d;
  transition: transform 0.3s;
  transform-origin: 50px 50px;
}

.sticker {
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-color: black;
}

.color-square {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.face-front .color-square {
  background-color: #ffffff;
}
.face-back .color-square {
  background-color: #ffff00;
}
.face-left .color-square {
  background-color: #ab0004;
}
.face-right .color-square {
  background-color: #ff833c;
}
.face-top .color-square {
  background-color: #6cff2a;
}
.face-bottom .color-square {
  background-color: #0000ff;
}
.logo .color-square {
  background-image: url(./logo.jpeg);
  background-size: cover;
}
