// face colors
$front-color: #ffffff
$right-color: #ff833c
$top-color: #6cff2a
$left-color: #ab0004
$bottom-color: #0000ff
$back-color: #ffff00

// length constants
$side: 300px  // length of the side of the cube (should be the same value as the one in script.js)

*
  box-sizing: border-box

body
  display: flex
  flex-direction: column
  align-items: center
  align-content: center
  justify-content: center

#scene
  display: flex
  align-items: center
  justify-content: center
  width: 2 * $side
  height: 2 * $side
  perspective: 3 * $side
  cursor: pointer

.cube
  width: $side
  height: $side
  position: relative
  transform: rotateX(-35deg) rotateY(-45deg) translateX($side / 3) translateY($side / 5)
  transform-style: preserve-3d
  transition: transform .5s

.rotation
  transform-style: preserve-3d
  transition: transform .3s
  transform-origin: $side/6 $side/6 // fix rotation origin

.sticker
  position: absolute
  width: $side / 3
  height: $side / 3
  opacity: .9
  display: flex
  align-items: center
  justify-content: center
  padding: 4px
  background-color: black

.color-square
  width: 100%
  height: 100%
  border-radius: 12px

  .face-front &
    background-color: $front-color

  .face-back &
    background-color: $back-color

  .face-left &
    background-color: $left-color

  .face-right &
    background-color: $right-color

  .face-top &
    background-color: $top-color

  .face-bottom &
    background-color: $bottom-color

  .logo &
    background-image: url(./logo.jpeg)
    background-size: cover
